:root {
  /* --color-primary: #967749; */
  --color-primary-light: #e8e2d8;
  --color-primary-dark: #e2cca6;

  --color-secondary-light: #8f6a48;
  --color-secondary-dark: #3c2619;

  /* Secondary Color (Emerald Green) */

  /* Other Colors */
  --color-white: #ffffff;
  --color-gray-light: #f0f0f0;
  --color-gray-dark: #333333;
}
